#login {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

#login-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 300px;
}

#login-form > input {
    float: left;
    clear: left;
    background-color: #211c1c;
    color: white;
    font-size: 20px;
    width: inherit;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

#login-form > input:focus {
    border: none;
}

#login-form > input[type=button]:nth-child(3):hover {
    cursor: pointer;
    background-color: grey;
    color: #332c29;
}

#register {
    color: white;
    text-align: center;
    letter-spacing: 1px;
}
#register-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 300px;
}

#register-form > input {
    float: left;
    clear: left;
    background-color: #211c1c;
    color: white;
    font-size: 20px;
    width: inherit;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

#register-form > input:focus {
    border: none;
}

#register-form > input[type=button]:nth-child(6):hover {
    cursor: pointer;
    background-color: grey;
    color: #332c29;
}

.square {
    /* display: inline-block; */
    /* border: solid black 1px; */
    height: 60px;
    width: 60px;
    float: left;
}

#create-game {
    margin-top: 40px;
    display: block;
    height: 70px;
    width: 300px;
    border-radius: 7px;
    border-style: none;
    background-color: #211c1c;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}

#create-game:hover {
    background-color: grey;
    color: #332c29;
    cursor: pointer;
}
#board:hover {
    cursor: pointer;
}

#board {
    
    /* display: block; */
    /* margin-top: 10px; */
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    height: 480px;
}
#root > div > div {
    height: inherit;
}
#root > div > div > div {
    height: 640px;
    margin-top: 50px;
}
#root > div > div > div > div {
    height: 600px;
}
nav {
    height: 50px;
    padding-left: 30px;
    background-color: #211c1c;
}

nav > ul {
    height: inherit;
    padding-left: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    letter-spacing: 1px;
}

#root > div > div > nav > ul > li {
    float: left;
    list-style-type: none;
    margin-right: 15px;
    line-height: 3;
}

.flip {
    transform: rotate(180deg);
}

p {
    margin: 0;
    width: 100%;
    height: 100%;
}

img{
    width: 3px;
}

.rank-8 {
    float: left;
    clear: left;
}

.rank-7 {
    float: left;
    clear: left;
}
.rank-6 {
    float: left;
    clear: left;
}

.rank-5 {
    float: left;
    clear: left;
}
.rank-4 {
    float: left;
    clear: left;
}

.rank-3 {
    float: left;
    clear: left;
}

.rank-2 {
    float: left;
    clear: left;
}

.rank-1 {
    float: left;
    clear: left;
}

.light-square {
    background-color: azure;
}

.dark-square {
    background-color: lightskyblue;
}

.white {
    color: lightgrey;
}

i {
    margin-top: 20%;
    margin-left: 20%;
    width: 60%;
    text-align: center;
    font-size: 35px;
}

.overflow {
    overflow: visible;
}

.icon-div {
    height: 100%;
}
.picker {
    position: relative;
    z-index: 1;
    background-color: white;
}